# REDO - Homework 5 Assignment 2
yg833 - completed the incorrect notebook the first time around. This is a redo referencing the correct slides : https://serv.cusp.nyu.edu/~hvo/files/SQL_Lab.pdf

The skeleton notebook was provided by Dr. Bianco : https://github.com/fedhere/PUI2018_fb55/blob/master/HW5_fb55_session2/SQL_query.ipynb

## SQL CARTO QUERY FUNCTION
## Originally written for PUI2016_Python2
## Extra Credit: extra credit: make the function python 2 and 3 compatible so that it works on the PUI2016_Python3 kernel

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the same account you used in the lab ~~(hvt201)~~ with Mr. Kryaschev  and query the database that you were querying in class (citibike_feb_2015)

In [2]:
## queryCartoDB function based on the one shared via class slack but it didn't work for me so I had to adapt it

## pull in libs
import sys
import pandas as pd
import ast
import numpy as np

# define the sql source variable
sql_source = 'https://fb55.carto.com/api/v2/sql?q='

# find the version of python and import the necessary libraries as appropriate for the version
if sys.version_info[0] == 2:
    print("This notebook is running Python version", sys.version_info[0])
    import urllib2
    import urllib
    from StringIO import StringIO as io # for python 2 io is from StringIO
    
    def queryCartoDB(query, format='CSV', source=sql_source):
        '''
        queries carto datasets from a given carto account
        Arguements:
        query - string: a valid sql query string
        format - output format OPTIONAL (default CSV)
        source - a valid sql api endpoint (default carto fb55 account)
        Returns:
        the return of the sql query as a string
        Notes:
        designed for hte carto API, tested only with CSV return format
        '''
        data = urllib.urlencode({'format':format, 'q': query})
        try:
            response = urllib2.urlopen(source, data)
        except (urllib2.HTTPError, e):
            raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
        except Exception:
            raise
        return response.read()

else:
    print("This notebook is running Python version", sys.version_info[0])
    
    import urllib
    from io import BytesIO as io # for python 3 io is from BytesIO
    
    def queryCartoDB(query, format='CSV', source=sql_source):
        '''
        queries carto datasets from a given carto account
        Arguements:
        query - string: a valid sql query string
        format - output format OPTIONAL (default CSV)
        source - a valid sql api endpoint (default carto fb55 account)
        Returns:
        the return of the sql query as a string
        Notes:
        designed for hte carto API, tested only with CSV return format
        '''
        data = urllib.parse.urlencode({'format': format, 'q': query}).encode("utf-8")
        try:
            response = urllib.request.urlopen(source, data)
            return response.read()
        except urllib.error.HTTPError as e:
            raise(ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))

This notebook is running Python version 3

In [3]:
## define a function that gets the data from the cartodb
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',') # uses the function created in the kernel above
    except ValueError as v:
        print (str(v))

In [4]:
query = '''SELECT * FROM fb55.citibike; ''' # query string variable

In [5]:
# now get the data
table = get_data(query)
table.head(5)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0

## Task 1 –  Familiarize with SQL Clauses

### Task 1.1 
Sort data by start_station_id, tripduration
- Only checking trips with duration <= 3 hours

In [6]:
query = '''SELECT * 
FROM fb55.citibike 
WHERE tripduration <= (3*60*60) --3 hours*60mins*60secs
ORDER BY start_station_id asc, tripduration desc;'''

table = get_data(query)

table.head(5)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9115,-73.993929,2099,2015-02-03 10:28:00+00,2015-02-03 11:02:00+00,72,9054,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,18653,Subscriber,1966.0,2
1,NaN,W 52 St & 11 Ave,NaN,2051,-73.993929,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,1983,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
2,NaN,W 52 St & 11 Ave,NaN,40355,-73.993929,1914,2015-02-07 09:49:00+00,2015-02-07 10:21:00+00,72,40341,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,21520,Subscriber,1966.0,2
3,NaN,W 52 St & 11 Ave,NaN,12996,-73.993929,1801,2015-02-04 06:32:00+00,2015-02-04 07:02:00+00,72,12938,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,15161,Subscriber,1959.0,2
4,NaN,W 52 St & 11 Ave,NaN,11359,-73.993929,1678,2015-02-03 18:21:00+00,2015-02-03 18:49:00+00,72,11298,40.767272,79,Franklin St & W Broadway,40.719116,-74.006667,21500,Subscriber,1964.0,1

### Task 1.2 
Only show the top/last 10 records (aka head and tail in SQL)

In [7]:
### Top 10 Records
query = '''SELECT *
FROM fb55.citibike 
ORDER BY cartodb_id asc
LIMIT 10;'''

table = get_data(query)

table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,8 Ave & W 31 St,NaN,70,-73.994811,801,2015-02-01 00:00:00+00,2015-02-01 00:14:00+00,521,1,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978,2
1,NaN,E 17 St & Broadway,NaN,71,-73.990093,379,2015-02-01 00:00:00+00,2015-02-01 00:07:00+00,497,2,40.737050,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993,1
2,NaN,Grand Army Plaza & Central Park S,NaN,72,-73.973715,2474,2015-02-01 00:01:00+00,2015-02-01 00:42:00+00,281,3,40.764397,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969,2
3,NaN,6 Ave & Broome St,NaN,73,-74.004704,818,2015-02-01 00:01:00+00,2015-02-01 00:15:00+00,2004,4,40.724399,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985,2
4,NaN,Lawrence St & Willoughby St,NaN,74,-73.986317,544,2015-02-01 00:01:00+00,2015-02-01 00:10:00+00,323,5,40.692362,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957,1
5,NaN,Willoughby Ave & Walworth St,NaN,75,-73.953820,717,2015-02-01 00:02:00+00,2015-02-01 00:14:00+00,373,6,40.693317,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15854,Subscriber,1979,1
6,NaN,W 56 St & 6 Ave,NaN,76,-73.977225,1306,2015-02-01 00:04:00+00,2015-02-01 00:26:00+00,352,7,40.763406,504,1 Ave & E 15 St,40.732219,-73.981656,15173,Subscriber,1983,1
7,NaN,E 4 St & 2 Ave,NaN,77,-73.989780,913,2015-02-01 00:04:00+00,2015-02-01 00:19:00+00,439,8,40.726281,116,W 17 St & 8 Ave,40.741776,-74.001497,17862,Subscriber,1955,1
8,NaN,Washington Pl & Broadway,NaN,78,-73.994046,759,2015-02-01 00:04:00+00,2015-02-01 00:17:00+00,335,9,40.729039,2012,E 27 St & 1 Ave,40.739445,-73.976806,21183,Subscriber,1985,2
9,NaN,Greenwich Ave & 8 Ave,NaN,79,-74.002638,585,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,10,40.739017,444,Broadway & W 24 St,40.742354,-73.989151,14843,Subscriber,1982,1

In [8]:
### Last 10 Records
query = '''SELECT *
FROM fb55.citibike 
ORDER BY cartodb_id desc
LIMIT 10;'''

table = get_data(query)

table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965,2
1,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983,2
2,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986,1
3,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986,2
4,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953,1
5,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960,2
6,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974,1
7,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959,1
8,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984,1
9,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983,2

### Task 1.3
List all unique start_station_id values

In [9]:
query = '''SELECT distinct(start_station_id)
FROM fb55.citibike 
Where start_station_id is not null;'''

table = get_data(query)

table

     start_station_id  Unnamed: 1
0                 120         NaN
1                 285         NaN
2                 251         NaN
3                 195         NaN
4                 453         NaN
5                 144         NaN
6                 266         NaN
7                 263         NaN
8                 216         NaN
9                 328         NaN
10                353         NaN
11                212         NaN
12                383         NaN
13                538         NaN
14                217         NaN
15                300         NaN
16                456         NaN
17                128         NaN
18                223         NaN
19                244         NaN
20                494         NaN
21                403         NaN
22                260         NaN
23                445         NaN
24                411         NaN
25                377         NaN
26                427         NaN
27                232         NaN
28                331         NaN
29                416         NaN
..                ...         ...
297               127         NaN
298               397         NaN
299               310         NaN
300               454         NaN
301               531         NaN
302               268         NaN
303               329         NaN
304               518         NaN
305               514         NaN
306               437         NaN
307               270         NaN
308               356         NaN
309               399         NaN
310               119         NaN
311               384         NaN
312               151         NaN
313               362         NaN
314               262         NaN
315               313         NaN
316              2008         NaN
317               276         NaN
318               470         NaN
319               455         NaN
320               496         NaN
321               312         NaN
322               318         NaN
323               497         NaN
324               305         NaN
325               264         NaN
326               483         NaN

[327 rows x 2 columns]

### Task 1.4
Aggregation functions:
- Count the number of trips (aka wc -l in SQL)
- Find the average/min/max trip duration

In [10]:
query = '''SELECT count(cartodb_id) as NUM_trips, min(tripduration) as MIN_tripduration, max(tripduration) as MAX_tripduration, avg(tripduration)as AVG_tripduration
FROM fb55.citibike ;'''

table = get_data(query)

table

   num_trips  min_tripduration  max_tripduration  avg_tripduration
0      46200                60             43016        675.865823

## Task 2 – Working with Date/Time

### Task 2.1 
1) Selecting trips started on Feb-02-2015 only

In [11]:
query = '''SELECT cartodb_id, starttime
FROM fb55.citibike
WHERE CAST(starttime AS Date) = '2015-02-02';'''

table = get_data(query)

table

      cartodb_id               starttime
0           7367  2015-02-02 17:44:00+00
1           7712  2015-02-02 20:12:00+00
2           6920  2015-02-02 11:07:00+00
3           6477  2015-02-02 00:40:00+00
4           6478  2015-02-02 00:40:00+00
5           6526  2015-02-02 06:20:00+00
6           6442  2015-02-02 00:02:00+00
7           6443  2015-02-02 00:03:00+00
8           6444  2015-02-02 00:04:00+00
9           6445  2015-02-02 00:06:00+00
10          6446  2015-02-02 00:07:00+00
11          6447  2015-02-02 00:08:00+00
12          6448  2015-02-02 00:09:00+00
13          6449  2015-02-02 00:11:00+00
14          6450  2015-02-02 00:12:00+00
15          6451  2015-02-02 00:12:00+00
16          6452  2015-02-02 00:12:00+00
17          6453  2015-02-02 00:13:00+00
18          6454  2015-02-02 00:13:00+00
19          6455  2015-02-02 00:13:00+00
20          6456  2015-02-02 00:14:00+00
21          6457  2015-02-02 00:15:00+00
22          6458  2015-02-02 00:16:00+00
23          6459  2015-02-02 00:18:00+00
24          6460  2015-02-02 00:18:00+00
25          6461  2015-02-02 00:19:00+00
26          6462  2015-02-02 00:19:00+00
27          6463  2015-02-02 00:20:00+00
28          6464  2015-02-02 00:22:00+00
29          6465  2015-02-02 00:23:00+00
...          ...                     ...
1429        7871  2015-02-02 23:08:00+00
1430        7872  2015-02-02 23:08:00+00
1431        7873  2015-02-02 23:11:00+00
1432        7874  2015-02-02 23:16:00+00
1433        7875  2015-02-02 23:17:00+00
1434        7876  2015-02-02 23:19:00+00
1435        7877  2015-02-02 23:22:00+00
1436        7878  2015-02-02 23:22:00+00
1437        7879  2015-02-02 23:23:00+00
1438        7880  2015-02-02 23:24:00+00
1439        7881  2015-02-02 23:25:00+00
1440        7882  2015-02-02 23:25:00+00
1441        7883  2015-02-02 23:26:00+00
1442        7884  2015-02-02 23:31:00+00
1443        7885  2015-02-02 23:32:00+00
1444        7886  2015-02-02 23:32:00+00
1445        7887  2015-02-02 23:33:00+00
1446        7888  2015-02-02 23:35:00+00
1447        7889  2015-02-02 23:36:00+00
1448        7890  2015-02-02 23:37:00+00
1449        7891  2015-02-02 23:37:00+00
1450        7892  2015-02-02 23:42:00+00
1451        7893  2015-02-02 23:42:00+00
1452        7894  2015-02-02 23:43:00+00
1453        7895  2015-02-02 23:43:00+00
1454        7896  2015-02-02 23:45:00+00
1455        7897  2015-02-02 23:47:00+00
1456        7898  2015-02-02 23:50:00+00
1457        7899  2015-02-02 23:55:00+00
1458        7900  2015-02-02 23:58:00+00

[1459 rows x 2 columns]

### Task 2.2.1
Selecting trips started on the weekends

In [12]:
## find the trips that were started during the weekends
query = '''SELECT cartodb_id, starttime, case when to_char(starttime,'DY') in ('SAT','SUN') then 'Weekend' end tag, tripduration 
FROM fb55.citibike
WHERE to_char(starttime,'DY') in ('SAT','SUN');'''

table = get_data(query)

table

       cartodb_id               starttime      tag  tripduration
0             107  2015-02-01 01:23:00+00  Weekend          1090
1            1088  2015-02-01 10:55:00+00  Weekend           682
2            2759  2015-02-01 13:59:00+00  Weekend           751
3            4893  2015-02-01 17:28:00+00  Weekend           272
4            6090  2015-02-01 21:36:00+00  Weekend           240
5           39876  2015-02-07 08:13:00+00  Weekend           296
6           41501  2015-02-07 12:35:00+00  Weekend           600
7           41585  2015-02-07 12:47:00+00  Weekend          1203
8           41796  2015-02-07 13:16:00+00  Weekend           520
9           42307  2015-02-07 14:18:00+00  Weekend           487
10          42523  2015-02-07 14:42:00+00  Weekend           984
11          42906  2015-02-07 15:23:00+00  Weekend           621
12          44443  2015-02-07 18:03:00+00  Weekend           397
13          44739  2015-02-07 18:39:00+00  Weekend           352
14          44829  2015-02-07 18:53:00+00  Weekend          1063
15          45297  2015-02-07 19:59:00+00  Weekend           483
16             93  2015-02-01 01:11:00+00  Weekend           447
17            847  2015-02-01 10:26:00+00  Weekend           277
18           1180  2015-02-01 11:07:00+00  Weekend           526
19           1971  2015-02-01 12:37:00+00  Weekend           502
20           2053  2015-02-01 12:46:00+00  Weekend           943
21           2138  2015-02-01 12:54:00+00  Weekend           563
22           3591  2015-02-01 15:21:00+00  Weekend           519
23           4983  2015-02-01 17:38:00+00  Weekend           500
24           5067  2015-02-01 17:48:00+00  Weekend           374
25           5748  2015-02-01 19:26:00+00  Weekend           420
26           6086  2015-02-01 21:34:00+00  Weekend           315
27          39722  2015-02-07 06:33:00+00  Weekend           302
28          39412  2015-02-07 00:00:00+00  Weekend           424
29          39651  2015-02-07 03:43:00+00  Weekend           439
...           ...                     ...      ...           ...
13201       46171  2015-02-07 23:51:00+00  Weekend           812
13202       46172  2015-02-07 23:51:00+00  Weekend           647
13203       46173  2015-02-07 23:51:00+00  Weekend           563
13204       46174  2015-02-07 23:51:00+00  Weekend           470
13205       46175  2015-02-07 23:51:00+00  Weekend           299
13206       46176  2015-02-07 23:52:00+00  Weekend           629
13207       46177  2015-02-07 23:52:00+00  Weekend           499
13208       46178  2015-02-07 23:52:00+00  Weekend           474
13209       46179  2015-02-07 23:52:00+00  Weekend           345
13210       46180  2015-02-07 23:53:00+00  Weekend           829
13211       46181  2015-02-07 23:53:00+00  Weekend           776
13212       46182  2015-02-07 23:53:00+00  Weekend           697
13213       46183  2015-02-07 23:54:00+00  Weekend          1703
13214       46184  2015-02-07 23:54:00+00  Weekend           922
13215       46185  2015-02-07 23:54:00+00  Weekend           849
13216       46186  2015-02-07 23:54:00+00  Weekend           826
13217       46187  2015-02-07 23:54:00+00  Weekend           473
13218       46188  2015-02-07 23:54:00+00  Weekend           332
13219       46189  2015-02-07 23:55:00+00  Weekend           456
13220       46190  2015-02-07 23:55:00+00  Weekend           327
13221       46191  2015-02-07 23:55:00+00  Weekend           306
13222       46192  2015-02-07 23:56:00+00  Weekend          1248
13223       46193  2015-02-07 23:56:00+00  Weekend          1165
13224       46194  2015-02-07 23:56:00+00  Weekend           993
13225       46195  2015-02-07 23:57:00+00  Weekend          1422
13226       46196  2015-02-07 23:57:00+00  Weekend           689
13227       46197  2015-02-07 23:57:00+00  Weekend           428
13228       46198  2015-02-07 23:57:00+00  Weekend           392
13229       46199  2015-02-07 23:58:00+00  Weekend           548
13230       46200  2015-02-07 23:59:00+00  Weekend           917

[13231 rows x 4 columns]

### Task 2.2.2
- What are average trip duration during weekends?

In [13]:
## find the average tripdurationthat were started during the weekends
query = '''SELECT count(cartodb_id) as num_Trips,avg(tripduration) as AVG_weekendTrips 
FROM fb55.citibike
WHERE to_char(starttime,'DY') in ('SAT','SUN');'''

table = get_data(query)

table

   num_trips  avg_weekendtrips
0      13231        662.942181

### Task 2.3.1
3) Can we do the same for weekday?

In [14]:
## find the trips that were started during the weekdays
query = '''SELECT cartodb_id, starttime, case when to_char(starttime,'DY') NOT in ('SAT','SUN') then 'Weekday' end tag, tripduration 
FROM fb55.citibike
WHERE to_char(starttime,'DY') not in ('SAT','SUN');'''

table = get_data(query)

table

       cartodb_id               starttime      tag  tripduration
0            7367  2015-02-02 17:44:00+00  Weekday           376
1            7712  2015-02-02 20:12:00+00  Weekday          1217
2            8263  2015-02-03 08:02:00+00  Weekday           441
3            9375  2015-02-03 12:31:00+00  Weekday          1475
4           10411  2015-02-03 16:45:00+00  Weekday           420
5           10867  2015-02-03 17:37:00+00  Weekday           876
6           11300  2015-02-03 18:21:00+00  Weekday           640
7           12114  2015-02-03 20:26:00+00  Weekday           571
8           12152  2015-02-03 20:37:00+00  Weekday           821
9           12500  2015-02-03 22:20:00+00  Weekday           376
10          13183  2015-02-04 07:21:00+00  Weekday           770
11          13312  2015-02-04 07:35:00+00  Weekday           319
12          13702  2015-02-04 08:11:00+00  Weekday           358
13          14172  2015-02-04 08:45:00+00  Weekday           338
14          14384  2015-02-04 08:59:00+00  Weekday           575
15          15113  2015-02-04 10:10:00+00  Weekday           451
16          15625  2015-02-04 11:51:00+00  Weekday           548
17          16481  2015-02-04 14:08:00+00  Weekday           404
18          16527  2015-02-04 14:15:00+00  Weekday           357
19          18880  2015-02-04 18:02:00+00  Weekday           330
20          19177  2015-02-04 18:19:00+00  Weekday           606
21          20425  2015-02-04 19:59:00+00  Weekday          1001
22          21228  2015-02-04 21:58:00+00  Weekday          1618
23          23298  2015-02-05 08:29:00+00  Weekday           876
24          23353  2015-02-05 08:32:00+00  Weekday           506
25          23386  2015-02-05 08:34:00+00  Weekday           683
26          24155  2015-02-05 09:14:00+00  Weekday           522
27          24623  2015-02-05 09:51:00+00  Weekday           946
28          24794  2015-02-05 10:10:00+00  Weekday           482
29          24966  2015-02-05 10:35:00+00  Weekday           592
...           ...                     ...      ...           ...
32939       39380  2015-02-06 23:47:00+00  Weekday           834
32940       39381  2015-02-06 23:47:00+00  Weekday           321
32941       39382  2015-02-06 23:48:00+00  Weekday           449
32942       39383  2015-02-06 23:48:00+00  Weekday           120
32943       39384  2015-02-06 23:49:00+00  Weekday           977
32944       39385  2015-02-06 23:49:00+00  Weekday           501
32945       39386  2015-02-06 23:50:00+00  Weekday           441
32946       39387  2015-02-06 23:50:00+00  Weekday           388
32947       39389  2015-02-06 23:51:00+00  Weekday           284
32948       39390  2015-02-06 23:51:00+00  Weekday           271
32949       39391  2015-02-06 23:52:00+00  Weekday           572
32950       39392  2015-02-06 23:53:00+00  Weekday           498
32951       39393  2015-02-06 23:53:00+00  Weekday           425
32952       39394  2015-02-06 23:53:00+00  Weekday           267
32953       39395  2015-02-06 23:53:00+00  Weekday           165
32954       39396  2015-02-06 23:54:00+00  Weekday           751
32955       39397  2015-02-06 23:54:00+00  Weekday           747
32956       39398  2015-02-06 23:54:00+00  Weekday           511
32957       39399  2015-02-06 23:54:00+00  Weekday           489
32958       39400  2015-02-06 23:55:00+00  Weekday          1183
32959       39401  2015-02-06 23:55:00+00  Weekday           649
32960       39402  2015-02-06 23:55:00+00  Weekday           377
32961       39403  2015-02-06 23:56:00+00  Weekday           485
32962       39404  2015-02-06 23:56:00+00  Weekday           298
32963       39405  2015-02-06 23:57:00+00  Weekday           648
32964       39406  2015-02-06 23:58:00+00  Weekday          1261
32965       39407  2015-02-06 23:58:00+00  Weekday           331
32966       39408  2015-02-06 23:59:00+00  Weekday           629
32967       39409  2015-02-06 23:59:00+00  Weekday           492
32968       39410  2015-02-06 23:59:00+00  Weekday           329

[32969 rows x 4 columns]

### Task 2.3.2
find the average tripduration for weekdays

In [15]:
## find the average trip duration on weekdays
query = '''SELECT count(cartodb_id) as num_trips, avg(tripduration) as AVG_tripduration 
FROM fb55.citibike
WHERE to_char(starttime,'DY') NOT in ('SAT','SUN');'''

table = get_data(query)

table

   num_trips  avg_tripduration
0      32969        681.052292

## Task 3 – Working with Space

### Task 3.1
1) Showing the list of start station locations
- Using GROUP BY

In [18]:
query = '''SELECT start_station_id, start_station_name
FROM fb55.citibike
GROUP BY start_station_id, start_station_name;'''

table = get_data(query)

table

     start_station_id               start_station_name
0                 257          Lispenard St & Broadway
1                 453                  W 22 St & 8 Ave
2                 291       Madison St & Montgomery St
3                 387          Centre St & Chambers St
4                 364      Lafayette Ave & Classon Ave
5                 354          Emerson Pl & Myrtle Ave
6                 491             E 24 St & Park Ave S
7                 355            Bayard St & Baxter St
8                 146             Hudson St & Reade St
9                 279             Peck Slip & Front St
10                533               Broadway & W 39 St
11                353       S Portland Ave & Hanson Pl
12                237                  E 11 St & 2 Ave
13                447                  8 Ave & W 52 St
14                383       Greenwich Ave & Charles St
15                415        Pearl St & Hanover Square
16                411                E 6 St & Avenue D
17                324          DeKalb Ave & Hudson Ave
18                311           Norfolk St & Broome St
19                496                  E 16 St & 5 Ave
20                167                  E 39 St & 3 Ave
21                367          E 53 St & Lexington Ave
22                479                  9 Ave & W 45 St
23                514                 12 Ave & W 40 St
24                493                  W 45 St & 6 Ave
25                321    Cadman Plaza E & Red Cross Pl
26                442                  W 27 St & 7 Ave
27                305                  E 58 St & 3 Ave
28                152            Warren St & Church St
29                216  Columbia Heights & Cranberry St
..                ...                              ...
297               460               S 4 St & Wythe Ave
298              2010             Grand St & Greene St
299               438              St Marks Pl & 1 Ave
300               410          Suffolk St & Stanton St
301              2006           Central Park S & 6 Ave
302               339               Avenue D & E 12 St
303               266                Avenue D & E 8 St
304               529                  W 42 St & 8 Ave
305               336      Sullivan St & Washington Sq
306               489                 10 Ave & W 28 St
307               328          Watts St & Greenwich St
308               232      Cadman Plaza E & Tillary St
309               120      Lexington Ave & Classon Ave
310               195            Liberty St & Broadway
311               236              St Marks Pl & 2 Ave
312               470                  W 20 St & 8 Ave
313               511               E 14 St & Avenue B
314               301                E 2 St & Avenue B
315               362               Broadway & W 37 St
316               480                 W 53 St & 10 Ave
317               270          Adelphi St & Myrtle Ave
318               309              Murray St & West St
319               373     Willoughby Ave & Walworth St
320               537          Lexington Ave & E 24 St
321               399      Lafayette Ave & St James Pl
322               384          Fulton St & Waverly Ave
323               296             Division St & Bowery
324               420     Clermont Ave & Lafayette Ave
325               524                  W 43 St & 6 Ave
326               471          Grand St & Havemeyer St

[327 rows x 2 columns]

### Task 3.2
2) Showing the number of trips started per station;

In [19]:
query = '''SELECT start_station_id, start_station_name, count(cartodb_id) as num_Trips
FROM fb55.citibike
GROUP BY start_station_id, start_station_name;'''

table = get_data(query)

table

     start_station_id               start_station_name  num_trips
0                 257          Lispenard St & Broadway        123
1                 453                  W 22 St & 8 Ave        218
2                 291       Madison St & Montgomery St        108
3                 387          Centre St & Chambers St        159
4                 364      Lafayette Ave & Classon Ave         13
5                 354          Emerson Pl & Myrtle Ave         30
6                 491             E 24 St & Park Ave S        288
7                 355            Bayard St & Baxter St        136
8                 146             Hudson St & Reade St        101
9                 279             Peck Slip & Front St         89
10                533               Broadway & W 39 St        196
11                353       S Portland Ave & Hanson Pl         29
12                237                  E 11 St & 2 Ave        228
13                447                  8 Ave & W 52 St        133
14                383       Greenwich Ave & Charles St        142
15                415        Pearl St & Hanover Square         97
16                411                E 6 St & Avenue D         86
17                324          DeKalb Ave & Hudson Ave         96
18                311           Norfolk St & Broome St         83
19                496                  E 16 St & 5 Ave        250
20                167                  E 39 St & 3 Ave        254
21                367          E 53 St & Lexington Ave        103
22                479                  9 Ave & W 45 St        189
23                514                 12 Ave & W 40 St         91
24                493                  W 45 St & 6 Ave        141
25                321    Cadman Plaza E & Red Cross Pl         18
26                442                  W 27 St & 7 Ave        320
27                305                  E 58 St & 3 Ave        213
28                152            Warren St & Church St         71
29                216  Columbia Heights & Cranberry St         12
..                ...                              ...        ...
297               460               S 4 St & Wythe Ave         34
298              2010             Grand St & Greene St         76
299               438              St Marks Pl & 1 Ave        156
300               410          Suffolk St & Stanton St        215
301              2006           Central Park S & 6 Ave         79
302               339               Avenue D & E 12 St         19
303               266                Avenue D & E 8 St         38
304               529                  W 42 St & 8 Ave        221
305               336      Sullivan St & Washington Sq        168
306               489                 10 Ave & W 28 St        203
307               328          Watts St & Greenwich St         73
308               232      Cadman Plaza E & Tillary St         22
309               120      Lexington Ave & Classon Ave         17
310               195            Liberty St & Broadway        137
311               236              St Marks Pl & 2 Ave        254
312               470                  W 20 St & 8 Ave        173
313               511               E 14 St & Avenue B        279
314               301                E 2 St & Avenue B        199
315               362               Broadway & W 37 St         98
316               480                 W 53 St & 10 Ave         81
317               270          Adelphi St & Myrtle Ave         92
318               309              Murray St & West St         76
319               373     Willoughby Ave & Walworth St         27
320               537          Lexington Ave & E 24 St        372
321               399      Lafayette Ave & St James Pl         32
322               384          Fulton St & Waverly Ave         55
323               296             Division St & Bowery        167
324               420     Clermont Ave & Lafayette Ave         25
325               524                  W 43 St & 6 Ave        112
326               471          Grand St & Havemeyer St         32

[327 rows x 3 columns]

### Task 3.3
3) … but only for stations within 500m of Time Square!
- The coordinates of Time Square is (40.7577,-73.9857)

#### from GIS stackexchange
https://gis.stackexchange.com/questions/2951/algorithm-for-offsetting-a-latitude-longitude-by-some-amount-of-meters
If your displacements aren't too great (less than a few kilometers) and you're not right at the poles, use the quick and dirty estimate that 111,111 meters (111.111 km) in the y direction is 1 degree (of latitude) and 111,111 * cos(latitude) meters in the x direction is 1 degree (of longitude).

In [21]:
## find 500 m / 111,111 m for the fraction of 1 degree

d = 500/111111
d

0.0045000045000045

In [22]:
query = '''SELECT start_station_id, start_station_name, count(cartodb_id)
FROM fb55.citibike
WHERE (start_station_longitude <= (-73.9857 + 0.0045000045000045) AND start_station_longitude >= (-73.9857 - 0.0045000045000045))
AND (start_station_latitude <= (40.7577 + 0.0045000045000045) AND start_station_latitude >= (40.7577 - 0.0045000045000045))
GROUP BY start_station_id, start_station_name;'''

table = get_data(query)

table

   start_station_id  start_station_name  count
0               465  Broadway & W 41 St    251
1               173  Broadway & W 49 St    213
2               477     W 41 St & 8 Ave    507
3               493     W 45 St & 6 Ave    141
4              2021     W 45 St & 8 Ave    141
5               524     W 43 St & 6 Ave    112

## Task 4 — Putting it all together

### Task 4.1
Find the station that had the longest average trip duration during
weekends and within 500m of TimeSquare!

In [23]:
query = '''SELECT start_station_id, start_station_name, avg(tripduration) as AVG_tripduration
FROM fb55.citibike
WHERE (start_station_longitude <= (-73.9857 + 0.0045000045000045) AND start_station_longitude >= (-73.9857 - 0.0045000045000045))
AND (start_station_latitude <= (40.7577 + 0.0045000045000045) AND start_station_latitude >= (40.7577 - 0.0045000045000045))
AND to_char(starttime,'DY') in ('SAT','SUN')
GROUP BY start_station_id , start_station_name
ORDER BY AVG_tripduration desc
LIMIT 1;'''

table = get_data(query)

table

   start_station_id  start_station_name  avg_tripduration
0               173  Broadway & W 49 St       1010.104167

# extra credit:
create lines for trips started from stations within 500m of Times
Squares and lasted less than 2 hours. The number of trips per each
pair of stations are output as attributes of these lines.

In [29]:
query = '''SELECT start_station_id, start_station_name, end_station_id, end_station_name, count(cartodb_id) as num_trips
FROM fb55.citibike
WHERE (start_station_longitude <= (-73.9857 + 0.0045000045000045) AND start_station_longitude >= (-73.9857 - 0.0045000045000045))
AND (start_station_latitude <= (40.7577 + 0.0045000045000045) AND start_station_latitude >= (40.7577 - 0.0045000045000045))
AND tripduration < 2*60*60
GROUP BY start_station_id, start_station_name, end_station_id, end_station_name
ORDER BY num_trips desc;'''

table = get_data(query)

table

,start_station_id,start_station_name,end_station_id,end_station_name,num_trips
0,477,W 41 St & 8 Ave,318,E 43 St & Vanderbilt Ave,31
1,477,W 41 St & 8 Ave,359,E 47 St & Park Ave,21
2,477,W 41 St & 8 Ave,517,Pershing Square South,17
3,477,W 41 St & 8 Ave,519,Pershing Square North,15
4,173,Broadway & W 49 St,318,E 43 St & Vanderbilt Ave,15
5,524,W 43 St & 6 Ave,318,E 43 St & Vanderbilt Ave,14
6,465,Broadway & W 41 St,492,W 33 St & 7 Ave,14
7,477,W 41 St & 8 Ave,153,E 40 St & 5 Ave,14
8,493,W 45 St & 6 Ave,492,W 33 St & 7 Ave,14
9,173,Broadway & W 49 St,538,E 48 St & Madison Ave,13
10,477,W 41 St & 8 Ave,478,11 Ave & W 41 St,13
11,173,Broadway & W 49 St,515,W 43 St & 10 Ave,12
12,2021,W 45 St & 8 Ave,447,8 Ave & W 52 St,12
13,493,W 45 St & 6 Ave,477,W 41 St & 8 Ave,12
14,465,Broadway & W 41 St,478,11 Ave & W 41 St,12
15,477,W 41 St & 8 Ave,484,W 44 St & 5 Ave,11
16,2021,W 45 St & 8 Ave,490,8 Ave & W 33 St,10
17,477,W 41 St & 8 Ave,440,E 45 St & 3 Ave,10
18,477,W 41 St & 8 Ave,537,Lexington Ave & E 24 St,9
19,477,W 41 St & 8 Ave,164,E 47 St & 2 Ave,9
20,477,W 41 St & 8 Ave,352,W 56 St & 6 Ave,9
21,477,W 41 St & 8 Ave,2017,E 43 St & 2 Ave,9
22,173,Broadway & W 49 St,478,11 Ave & W 41 St,9
23,173,Broadway & W 49 St,359,E 47 St & Park Ave,9
24,477,W 41 St & 8 Ave,546,E 30 St & Park Ave S,8
25,477,W 41 St & 8 Ave,510,W 51 St & 6 Ave,8
26,477,W 41 St & 8 Ave,160,E 37 St & Lexington Ave,8
27,477,W 41 St & 8 Ave,450,W 49 St & 8 Ave,8
28,173,Broadway & W 49 St,484,W 44 St & 5 Ave,7
29,477,W 41 St & 8 Ave,281,Grand Army Plaza & Central Park S,7
...,...,...,...,...,...
461,465,Broadway & W 41 St,484,W 44 St & 5 Ave,1
462,493,W 45 St & 6 Ave,507,E 25 St & 2 Ave,1
463,477,W 41 St & 8 Ave,321,Cadman Plaza E & Red Cross Pl,1
464,493,W 45 St & 6 Ave,468,Broadway & W 55 St,1
465,465,Broadway & W 41 St,280,E 10 St & 5 Ave,1
466,465,Broadway & W 41 St,401,Allen St & Rivington St,1
467,173,Broadway & W 49 St,3002,South End Ave & Liberty St,1
468,173,Broadway & W 49 St,516,E 47 St & 1 Ave,1
469,465,Broadway & W 41 St,499,Broadway & W 60 St,1
470,524,W 43 St & 6 Ave,440,E 45 St & 3 Ave,1
471,2021,W 45 St & 8 Ave,546,E 30 St & Park Ave S,1
472,2021,W 45 St & 8 Ave,305,E 58 St & 3 Ave,1
473,465,Broadway & W 41 St,412,Forsyth St & Canal St,1
474,465,Broadway & W 41 St,2023,E 55 St & Lexington Ave,1
475,173,Broadway & W 49 St,469,Broadway & W 53 St,1
476,524,W 43 St & 6 Ave,153,E 40 St & 5 Ave,1
477,524,W 43 St & 6 Ave,516,E 47 St & 1 Ave,1
478,524,W 43 St & 6 Ave,426,West St & Chambers St,1
479,2021,W 45 St & 8 Ave,446,W 24 St & 7 Ave,1
480,2021,W 45 St & 8 Ave,434,9 Ave & W 18 St,1
481,493,W 45 St & 6 Ave,538,E 48 St & Madison Ave,1
482,2021,W 45 St & 8 Ave,464,E 56 St & 3 Ave,1
483,524,W 43 St & 6 Ave,3002,South End Ave & Liberty St,1
484,493,W 45 St & 6 Ave,428,E 3 St & 1 Ave,1
485,493,W 45 St & 6 Ave,476,E 31 St & 3 Ave,1
486,493,W 45 St & 6 Ave,127,Barrow St & Hudson St,1
487,2021,W 45 St & 8 Ave,401,Allen St & Rivington St,1
488,477,W 41 St & 8 Ave,263,Elizabeth St & Hester St,1
489,524,W 43 St & 6 Ave,498,Broadway & W 32 St,1
490,477,W 41 St & 8 Ave,268,Howard St & Centre St,1